.img {
  width: 1%;
}
ul {
  list-style-type: none;
}
#todo {
  display: none;
}
.inval {
  font-size: 20px;
  text-align: center;

  margin-top: 500px;
}
.imm {
  width: 50px;

  margin-top: 0px;
}
